@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

body{
      font-family: "Outfit", sans-serif;
      background-color: hsl(212, 45%, 89%);
      display: grid;
      height: 100vh;
      place-items: center;
}

.container {
    width: 320px;
    height: 497px; 
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

.container img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 16px 0 16px;
}

.container .text-container{
    background-color: white;
    width: 288px;
    height: 129px;
    margin: 16px 16px 0 16px;
}

.text-container{
    display: grid;
    place-items: center;
    overflow: hidden;
}

.text-container :nth-child(n+1):nth-child(-n+2){
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
}

.text-container :nth-child(n+3):nth-child(-n+5){
    color: hsl(222, 15%, 56%);
    font-size: .75rem;
}

.text-container .text-item2{
    margin-top: -7px; 
}

.text-container .text-item3{
    margin-top: 7px; 
}

.text-container .text-item4{
    margin-top: -8px; 
}

.text-container .text-item5{
    margin-top: -8px; 
}

